<nav>
    <ul class="navigation">
        <h1>E-Commerce</h1>
        <li><a href="/">Home</a></li>
        <li><a href="/products/add"> Add product</a></li>
        <li><a href="/cart"> Cart</a></li>
        <li><a href="/products">Admin</a></li>
    </ul>
</nav>