<nav>
    <ul class="navigation">
        <h1>E-Commerce</h1>
        <li><a href="/">Home</a></li>
        <li><a href="/product"> Product</a></li>
        <li><a href="/cart"> Cart</a></li>
    </ul>
</nav>