<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/product/add" method="POST">
                    <div>
                        <p>
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control">
                        </p>
                        <p>
                            <label for="image">Image URL</label>
                            <input type="text" name="image" class="form-control">
                        </p>
                        <p>
                            <label for="price">Price</label>
                            <input type="number" step="1" name="price" class="form-control">
                        </p>
                        <p>
                            <label for="description">Description</label>
                            <textarea type="text"  name="description" class="form-control"></textarea>
                        </p>
                        <p>
                            <button>Add product</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>