<%- include('includes/head.ejs') %>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main>
                <a href="/product/add">Add</a>
            </main>
    </body>

    </html>